/*
The styles in this stylesheet only apply to resolutions 768px and up

CALCULATING DIMENSIONS:
----------------------
The layout is fluid. The sote wrapper (.col-full) has a fixed pixel max-width.
All subsequent dimensions are calculated based on that fixed pixel width, using the formula: target / context = result
Credit - http://www.alistapart.com/articles/fluidgrids/

-----
INDEX
-----

1. Global dropdown styles
2. Top Navigation
3. Main navigation dropdown menus
 -3.1 General dropdown menus
4. Containers & Columns
5. Footer widgets
6. IE Fixes

/*----------------------*/
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
}
body {
  *zoom: 1;
}
body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*----------------------*/
/* -- this was 768px */
@media only screen and (min-width: 770px) {
  #inner-wrapper {
    padding: 0;
    left: 0 !important;
  }
  /* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
  ul.nav {
    position: relative;
    margin-bottom: 0;
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  ul.nav li {
    position: relative;
    float: left;
    zoom: 1;
    list-style: none;
  }
  ul.nav li a {
    display: block;
    padding: .53em 1em;
  }
  ul.nav ul {
    width: 11.089em;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    margin: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=@opacity * 100);
  }
  ul.nav ul li {
    float: none;
  }
  ul.nav ul li a {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul.nav ul ul {
    left: 100%;
    top: 0;
  }
  ul.nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=@opacity * 100);
  }
  /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
  #top {
    background: #f5f5f4;
    margin: 0 -1.618em;
    padding: 0 1.618em;
    display: block;
  }
  #top #top-nav,
  #top .top-navigation {
    display: block;
  }
  #top #top-nav h3,
  #top .top-navigation h3 {
    display: none;
  }
  #top ul.nav {
    font-size: .857em;
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  #top ul.nav li.current-menu-item > a {
    background: #f36557;
    color: #fff;
  }
  #top ul.nav > li a {
    border-left: 1px solid #ddddd9;
  }
  #top ul.nav > li a:hover {
    color: #fff;
    /*background: #e9e9e7; */
  }
  #top ul.nav > li:hover {
    /*background: #e9e9e7; */
  }
  #top ul.nav > li:last-child a {
    border-right: 1px solid #ddddd9;
  }
  #top ul.nav ul {
    background: #e9e9e7;
  }
  /* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
  /**
  	 * Resets
  	 * As the mobile nav features extensive styling, much of it needs to be reset for desktop orientation
  	 */
  .show-nav #inner-wrapper {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .show-nav #navigation .top-navigation {
    display: none;
  }
  /**
  	 * The main navigation styling
  	 */
  #navigation {
    position: relative;
    left: auto;
    width: 100%;
    margin: 0;
    padding-top: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: right;
    width: 80%;
    clear: none;
  }
  #navigation .menus {
    float: right;
    *zoom: 1;
  }
  #navigation .menus:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  #navigation .menus:before,
  #navigation .menus:after {
    content: "";
    display: table;
  }
  #navigation .menus:after {
    clear: both;
  }
  #navigation .menus h3 {
    display: none;
  }
  #navigation ul.nav {
    float: right;
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  #navigation ul.nav > li {
    border-bottom: .146em solid transparent;
    margin: 0 .857em;
    text-transform: uppercase;
    color: white;
  }
  #navigation ul.nav > li:hover {
    border-color: #f36557;
  }
  #navigation ul.nav > li.current-menu-item {
    background: none;
    border-color: #f36557;
  }
  #navigation ul.nav > li.current-menu-item a {
    color: #ffffff;
  }
  #navigation ul.nav > li.parent > a:after {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.5em;
    display: inline-block;
    text-align: right;
    line-height: 1;
    content: "\f107";
    border-bottom: .146em solid transparent;
  }
  #navigation ul.nav li a {
    padding: 0 0 .146em;
    text-shadow: none;
    border: 0;

  }
  #navigation ul.nav li a:hover {
    border-color: #a1a4a9;
  }
  #navigation ul.nav li.current-menu-item > a,
  #navigation ul.nav li.current_page_item > a {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }
  #navigation ul.nav li.current-menu-item > a:after,
  #navigation ul.nav li.current_page_item > a:after {
    display: none;
  }
  #navigation ul.nav li ul a,
  #navigation ul.nav li ul ul li a {
    padding: .857em 0;
    text-align: center;
  }
  #navigation ul.nav ul {
    background: none;
    padding: 1.25em 0 0;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #navigation ul.nav ul:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    /*border-color: transparent transparent #181c23 transparent;*/
    border-color: transparent transparent #00A7F1 transparent;
    position: absolute;
    left: 47%;
    z-index: 10000;
    top: 13px;
  }
  #navigation ul.nav ul li {
    font-size: .857em;
    margin: 0;
   /* background: #181c23; */
    background: #00A7F1; 
    padding: 0 1em;
  }
  #navigation ul.nav ul li a {
    border-bottom: 1px solid white;
    color: #fff;
  }
  #navigation ul.nav ul li a:hover {
    color: #fff;
    border-bottom: 1px solid white;
  }
  #navigation ul.nav ul li.current-menu-item a {
    border-bottom: 1px solid white;
  }
  #navigation ul.nav ul li:first-child {
    -webkit-border-top-left-radius: 0.53em;
    -webkit-border-top-right-radius: 0.53em;
    border-top-left-radius: 0.53em;
    border-top-right-radius: 0.53em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #navigation ul.nav ul li:last-child {
    -webkit-border-bottom-left-radius: 0.53em;
    -webkit-border-bottom-right-radius: 0.53em;
    border-bottom-left-radius: 0.53em;
    border-bottom-right-radius: 0.53em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #navigation ul.nav ul li:last-child a {
    border: 0;
  }
  #navigation ul.nav ul ul {
    padding: 0 0 0 .327em;
    top: 0;
    left: 100%;
  }
  #navigation ul.nav ul ul li {
    font-size: 1em;
  }
  #navigation ul.nav ul ul:before {
    content: none;
  }
  #navigation .widget_product_search {
    margin-bottom: 1.618em;
    border: 0;
  }
  #navigation .widget_product_search #searchform {
    border: 1px solid #e6e6e6;
    padding: 0;
    background: none;
  }
  #navigation .widget_product_search #searchform #s {
    padding: .857em 2.618em .857em .857em;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #navigation .widget_product_search #searchform #searchsubmit {
    display: inline-block;
  }
  #navigation ul.cart,
  #navigation ul.rss {
    float: right;
  }
  #navigation .nav-close,
  #navigation .nav-home {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .csstransforms3d.csstransitions #navigation,
  .csstransforms3d.csstransitions .show-nav #navigation,
  .csstransforms3d.csstransitions .show-nav #inner-wrapper {
    left: 0;
    -webkit-transform: none;
    /* Safari and Chrome */
  
    -moz-transform: none;
    /* Firefox */
  
    -ms-transform: none;
    /* IE 9 */
  
    -o-transform: none;
    /* Opera */
  
    transform: none;
  }
  /* 4. CONTAINERS & COLUMNS */
  .wrapper {
    /* max-width: 75.998em; */
    margin: 0 auto;
    *zoom: 1;
  }
  .wrapper:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .wrapper:before,
  .wrapper:after {
    content: "";
    display: table;
  }
  .wrapper:after {
    clear: both;
  }
  #header {
    position: relative;
    display: inline;
    float: left;
    width: 95.83333333333334%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 95.78125000000001%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #header .site-header {
    float: left;
  }
  #header .site-header h1,
  #header .site-header h2,
  #header .site-header h3 {
    float: none;
  }
  #header #logo:active {
    position: absolute;
    top: .202em;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  #header .site-title,
  #header .site-description {
    text-align: left;
  }
  #header ul.rss {
    margin-right: 0;
    padding-right: 0;
  }
  #header ul.rss li {
    border-right: 0;
  }
  #main {
    display: inline;
    float: left;
    width: 62.5%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 62.447916666666664%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #main.fullwidth,
  .layout-full #main,
  #main.full-width,
  .breadcrumb {
    display: inline;
    float: left;
    width: 95.83333333333334%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 95.78125000000001%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #sidebar {
    margin-top: 0;
    display: inline;
    float: left;
    width: 29.166666666666668%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 29.114583333333336%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  .entry img {
    max-width: 100%;
  }
  .layout-full .entry img {
    max-width: 100%;
  }
  .layout-right-content #main {
    float: right;
  }
  .layout-right-content #sidebar {
    float: left;
  }
  .col-left {
    float: left;
  }
  .col-right {
    float: right;
  }
  #comments {
    display: inline;
    float: left;
    width: 54.166666666666664%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 54.11458333333333%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #respond {
    display: inline;
    float: left;
    width: 37.5%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 37.447916666666664%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  /* Single / Page */
  .single #post-details:after,
  .archive.author #post-details:after {
    content: none;
  }
  .single article {
    display: inline;
    float: left;
    width: 70.83333333333334%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 70.78125000000001%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  .single #post-details {
    display: inline;
    float: left;
    width: 20.833333333333336%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 20.781250000000004%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  /* Author Archives */
  .archive.author #post-details {
    display: inline;
    float: left;
    width: 20.833333333333336%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 20.781250000000004%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  .archive.author #main {
    display: inline;
    float: left;
    width: 70.83333333333334%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 70.78125000000001%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  /* Homepage */
  .page-template-template-sitemap-php #sitemap-pages,
  .page-template-template-sitemap-php .product-categories {
    float: left;
    width: 48%;
  }
  .page-template-template-sitemap-php #sitemap-categories,
  .page-template-template-sitemap-php .products {
    float: right;
    width: 48%;
  }
  .page-template-template-sitemap-php #sitemap-posts {
    clear: both;
  }
  .page-template-template-sitemap-php .woocommerce {
    *zoom: 1;
  }
  .page-template-template-sitemap-php .woocommerce:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .page-template-template-sitemap-php .woocommerce:before,
  .page-template-template-sitemap-php .woocommerce:after {
    content: "";
    display: table;
  }
  .page-template-template-sitemap-php .woocommerce:after {
    clear: both;
  }
  .page-template-template-contact-php .location-twitter .col-left {
    float: left;
  }
  .page-template-template-contact-php .location-twitter #office-location {
    width: 48%;
    margin: 0 1em 0 0;
  }
  .page-template-template-contact-php .location-twitter .contact-social {
    float: left;
    width: 48%;
  }
  .page-template-template-contact-php .location-twitter .contact-social #twitter {
    margin: 0;
  }
  table {
    table-layout: fixed;
  }
  table td,
  table th {
    padding: .857em 1.387em;
  }
  table thead th {
    padding: 1.387em;
  }
  /* 5. FOOTER WIDGETS */
  #footer-widgets .block {
    margin-right: 3.8%;
    float: left;
  }
  #footer-widgets .col-1 .block {
    width: 100%;
    float: none;
  }
  #footer-widgets .col-1 .footer-widget-1 {
    margin-right: 0;
  }
  #footer-widgets .col-2 .block {
    display: inline;
    float: left;
    width: 45.83333333333333%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 45.78124999999999%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #footer-widgets .col-2 .footer-widget-2 {
    margin-right: 0;
  }
  #footer-widgets .col-3 .block {
    display: inline;
    float: left;
    width: 29.166666666666668%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 29.114583333333336%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #footer-widgets .col-3 .footer-widget-3 {
    margin-right: 0;
  }
  #footer-widgets .col-4 .block {
    display: inline;
    float: left;
    width: 20.833333333333336%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 20.781250000000004%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #footer-widgets .col-4 .footer-widget-4 {
    margin-right: 0;
  }
  #footer .col-left,
  #footer .col-right {
    display: inline;
    float: left;
    width: 45.83333333333333%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    *width: 45.78124999999999%;
    *margin-left: 2.0312499999999996%;
    *margin-right: 2.0312499999999996%;
  }
  #footer .col-right {
    text-align: right;
  }
  /* 6. IE FIXES */
  .ie7 #top-nav {
    position: relative;
    z-index: 9999999;
  }
  .ie7 #header {
    position: relative;
    z-index: 9999999;
  }

  #main.fullwidth {
    margin-left: 1%;
  }
 
}
