// ===============================================================================
// Variables
// ===============================================================================

// Colors
@color_links:       #F36557;        // Links / Main theme colour
@color_body:        #84878C;        // Body Copy
@color_nav:         #A1A4A9;        // Nav links color
@color_headings:    #1A212C;        // Headings color
@border_main:       #e6e6e6;        // The 1px grey rules used throughout the WF
@bg_light:          #F5F5F4;
@bg_dark:           #222832;
@success:           #89b93f;
@info:              #3c8bae;
@error:             #c84e45;
@note:              #D3B42A;

// Google fonts - These are also defined in Theme Setup (theme-actions.php)
@font_headings:    'Cabin', sans-serif;
@font_text:        'Raleway', sans-serif;

// Paths
@imagepath:         'images';
@fontpath:          'includes/fonts/';


// ===============================================================================
// Functions
// ===============================================================================
.iconbefore( @glyph: "\f179" ) {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak:none;
    width:1.5em;
    display: inline-block;
    line-height: 1;
    content: @glyph;
}

.iconafter( @glyph: "\f179" ) {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak:none;
    width:1.5em;
    display: inline-block;
    text-align: right;
    line-height: 1;
    content: @glyph;
}

.ir() {
    display: block;
    text-indent: -999px;
    position: relative;
    height:1em;
    width:1em;
}

.icon( @glyph: "\f179" ) {
    font-family: 'FontAwesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin:0;
    text-indent: 0;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    text-align: center;
    content: @glyph;
}

.message(@glyph: "\f00d", @color: @info) {
    padding: 1em 1.618em 1em 5.874em;
    margin-bottom: 2.618em;
    font-weight: bold;
    position: relative;
    border: 1px solid @border_main;
    .border_radius(.327em);
    clear: both;
    &:before {
        font-family: 'FontAwesome';
        content: @glyph;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2.618em;
        background: @color;
        text-align: center;
        padding: .53em .236em;
        font-size: 1.387em;
        font-weight: normal;
        .border_radius_left(.236em);
        left: -1px;
    }
}

// ===============================================================================
// Mixins
// ===============================================================================
.clearfix() {
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
		clear: both;
	}
}
.border_radius(@radius:10px) {
    -webkit-border-radius:@radius;
    border-radius:@radius;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.border_radius_right(@radius:10px) {
    -webkit-border-top-right-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.border_radius_left(@radius:10px) {
    -webkit-border-top-left-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.border_radius_bottom(@radius:10px) {
    -webkit-border-bottom-left-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.border_radius_top(@radius:10px) {
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.border_radius_reset()  {
	-webkit-border-radius: none;
	   -moz-border-radius: none;
		    border-radius: none;
}

.box_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_in:3px, @shadow_color:#888) {
    box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -webkit-box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
}

.inset_box_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_in:3px, @shadow_color:#888) {
    box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -webkit-box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
}

.box_shadow_reset()  {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
}

.text_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_color:#fff) {
    text-shadow:@shadow_x @shadow_y @shadow_rad @shadow_color;
}

.vertical_gradient(@from: #000, @to: #FFF) {
	background-color: @from;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));   // Saf4+, Chrome
	background-image: -webkit-linear-gradient(top, @from, @to);                                // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-linear-gradient(top, @from, @to);                                // FF3.6+
	background-image:     -ms-linear-gradient(top, @from, @to);                                // IE10
	background-image:      -o-linear-gradient(top, @from, @to);                                // Opera 11.10+
	background-image:         linear-gradient(to bottom, @from, @to);
}

.transition(@selector:all, @animation:ease-in-out, @duration:.2s) {
    -webkit-transition:@selector @animation @duration;
    -moz-transition:@selector @animation @duration;
    -ms-transition:@selector @animation @duration;
    -o-transition:@selector @animation @duration;
    transition:@selector @animation @duration;
}

.opacity(@opacity:0.75) {
    opacity: @opacity;
    filter:~"alpha(opacity=@opacity * 100)";
}

.rotate(@degree:1deg) {
	-webkit-transform: rotate(@degree);    // Saf3.1+, Chrome
	-moz-transform: rotate(@degree);       // FF3.5+
	-ms-transform: rotate(@degree);        // IE9
	-o-transform: rotate(@degree);         // Opera 10.5
	transform: rotate(@degree);
	zoom: 1;
}

.scale(@ratio:1.5) {
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  -ms-transform:scale(@ratio);
  -o-transform:scale(@ratio);
  transform:scale(@ratio);
}

.radial_gradient(@from: #000, @to: #FFF) {
	background: @from;
    background: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 1000, from(@from), to(@to));
    background: -moz-radial-gradient(center top, @from 0%, @to 100%);
}

.borderbox () {
	-webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    box-sizing: border-box;         // Opera/IE 8+
}

.blur(@blur:3px) {
    filter: blur(@blur);
    -webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
    -ms-filter: blur(@blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='@blur');
}

// ===============================================================================
// Animations
// ===============================================================================
@-webkit-keyframes spin-360 {
    from { .rotate(0); }
    50% { .rotate(180deg); }
    to { .rotate(0); }
}
