<footer id="footer">

    <div class="container">

        <div class="row">

                <span font="'Source Sans Pro', Arial, Helvetica, sans-serif;">Powered by </span> <a href="http://www.appirio.com/"><img src="i/appirio_white_logo_small.png" style="vertical-align:middle"/></a>

        </div>

    </div>

</footer>