<footer id="footer">

    <div class="container">

        <div class="row">

                <span font="'Source Sans Pro', Arial, Helvetica, sans-serif;">Powered by </span> <img src="i/appirio_white_logo_small.png" style="vertical-align:middle"/>

        </div>

    </div>

</footer>