<header id="header">
    <div class="container">

        <div class="row" >
           <img src="i/pepsi_logo_blue_background.png" style="vertical-align:middle"/> <span>AppXpress Marketplace</span>
        </div>

    </div>
</header>
<!-- End header -->
