<div class="wrapper">
    <div class="ui-page ui-animate">

        <div ng-include="'../views/templates/header_coke.html'">
        </div>

        <div ui-view>
        </div>

        <div ng-include="'../views/templates/footer_coke.html'">
        </div>

    </div>
</div>
