<div class="step">

    <div class="container">

        <h3 class="summary">
            Summary of your application
            <small>Below is a summary of your prototype application.</small>
        </h3>

        <div class="step-pager">
        </div>
        <div class="summary-wrapper">

            <div class="column left-column">
                <div class="well-summary">
                    <h3>APPLICATION TYPE</h3>
                    <span class="title">{{appType}}</span>
                </div>
                <div class="well-summary">
                    <h3>SUPPORTED DEVICES</h3>
                    <span class="title {{deviceClass}}">
                      <span ng-repeat="device in Device">{{$last ? device :device+', '}}</span>
                    </span>
                    <h3>PLATFORM</h3>
                      <span class="title">
                        <span ng-repeat="oss in OSes">{{$last ? oss :oss+', '}}</span>
                      </span>
                </div>
                <div class="well-summary">
                    <h3>NUMBER OF STATIC PAGES</h3>
                    <span class="static-num">{{noOfStaticPages}}</span>
                </div>
          </div>

            <div class="column main-column">
                <div class="well-summary">
                    <h3>APPLICATION DESCRIPTION</h3>
                    <div class="description">
                        <div ng-bind-html="appDescription">
                        </div>


                        <div class="files" ng-show="uploadedFiles">
                            <a class="file-type type-{{file.fileType}}" ng-repeat="file in uploadedFiles">
                                {{file.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column right-column">
                <div class="well-summary">
                    <h3>APPLICATION SPECIFICATION</h3>
                    <div class="specification">
                        <h4>Ultimate Goal</h4>
                        <p>{{appGoal}}</p>
                        <h4>Users of this app</h4>
                        <p>{{appUserDesc}}</p>
                        <h4>Main Features</h4>
                        <ol>
                            <li ng-repeat="feature in appMainFeatures track by $index">
                                <span class="num">{{$index+1}}.</span>
                                {{feature}}
                            </li>

                        </ol>
                        <h4>User Flows</h4>
                        <ol>
                            <li ng-repeat="flow in appUserFlow track by $index">
                                <span class="num">{{$index+1}}.</span>
                                {{flow}}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

      </div>



  </div>

</div>
