<div class="step">
    <div class="container">
        <div class="step-pager">
            <a href="/get-started-2/" class="back">Back</a>
        <span style="font-size:24px">Select the devices you need to support.</span>
            <a href="javascript:;" ng-class="{disabled: (canGoToNext === false)}" ng-click="goToNextStep(canGoToNext, 'flow2')" class="next">Next</a>
        </div>
        <div class="devices-wrapper">

            <div class="devices-selecter" style="margin-right:25px">
                <div class="devices Phone" ng-class="{off: Device.Phone === false}">
                    <p>Phone</p>

                    <div class="switch">
                        <input type="checkbox" ng-model="Device.Phone"/>
                        <span class="toggle"></span>
                    </div>
                </div>
                <div class="devices Tablet" ng-class="{off: Device.Tablet === false}">
                    <p>Tablet</p>

                    <div class="switch">
                        <input type="checkbox" ng-model="Device.Tablet"/>
                        <span class="toggle"></span>
                    </div>
                </div>
                <div class="devices Desktop" ng-class="{off: Device.Desktop === false}">
                    <p>Desktop</p>

                    <div class="switch">
                        <input type="checkbox" ng-model="Device.Desktop"/>
                        <span class="toggle"></span>
                    </div>
                </div>
            </div>
            <style>


input[type=checkbox].css-checkbox {
  position:absolute; 
  z-index:-1000; 
  top:-1000px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0; 
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:30px;
  height:23px; 
  display:inline-block;
  line-height:23px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-family: 'Source Sans Pro', arial;
  font-size:23px;
  font-weight: 500;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -24px;
}

label.css-label {
  background-image:url(/i/cssradio.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

            </style>

            <div style="text-align:left; padding-top:50px; padding-left:25px">
            </div>
            <div style="text-align:left">
                <div ng-click="toggleCheck('iOS',$event)">
                    <input id="checkbox1" name="checkbox1" class="css-checkbox" type="checkbox" 
                        ng-checked="isChecked('iOS')"/>
                    <label for="checkbox1" class="css-label">iOS</label>
                </div>
                <div>&nbsp;</div>
                <div ng-click="toggleCheck('Android',$event)">
                    <input id="checkbox2" name="checkbox2" class="css-checkbox" type="checkbox" 
                       ng-checked="isChecked('Android')"/>
                    <label for="checkbox2" class="css-label">Android</label>
                </div>
                <div>&nbsp;</div>
                <div ng-click="toggleCheck('HTML5',$event)">
                    <input id="checkbox3" name="checkbox3" class="css-checkbox" type="checkbox"
                      ng-checked="isChecked('HTML5')"/>
                    <label for="checkbox3" class="css-label">HTML5</label>
                </div>                   
                <div>&nbsp;</div>
                <div ng-click="toggleCheck('DontKnow',$event)">
                    <input id="checkbox4" name="checkbox4" class="css-checkbox" type="checkbox"
                      ng-checked="isChecked('DontKnow')"/>
                    <label for="checkbox4" class="css-label">Don't Know</label>
                </div>                   
            </div>

            
        </div>



    </div>

</div>