<div class="step">
    <div class="container">
        <div class="step-pager">
            <a href ui-sref="{{stateFlow}}.flow1" class="back">Back</a>
<span style="font-size:24px">How many pages does your app need?</span>
            <a href="javascript:;" ng-click="goToNextStep(true,'flow3')" class="next">Next</a>
        </div>
        <div class="pager-wrapper">
            <div class="row">
                <div class="col-lg-5 col-lg-push-7 col-md-5 col-md-push-7">
                    <img src="../i/graphic.png" alt="Graphic" class="graphic" />
                </div>
                <div class="col-lg-7 col-lg-pull-5 col-md-7 col-md-pull-5">
                    <div class="pager-selecter">
                        <div class="slider-value">
                            {{noOfStaticPages}}
                        </div>
                        <span class="min">Min {{minNumStaticPages}}</span>
                        <span class="max">Max {{maxNumStaticPages}}</span>
                        <slider ng-model="noOfStaticPages" 
                                min="{{minNumStaticPages}}" 
                                step="1" 
                                max="{{maxNumStaticPages}}"
                                value="{{noOfStaticPages}}" 
                         ></slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>