<div class="step">
    <div class="container">
        <div class="step-pager">
            <a href ui-sref="{{stateFlow}}.flow2" class="back">Back</a>

<span style="font-size:24px">Describe your application</span>

            <a ng-class="{disabled: !appSpecForm.$valid}" class="next" id="next-step-sixth" href="javascript:;" ng-click="updateAppSpec();">Next</a>
        </div>
        <div class="specification-wrapper">

            <div class="row">
                <form name="appSpecForm" class="col-mg-12" novalidate>
                    <div class="col-lg-6 col-md-6">
                        <div class="field">
                            <div class="form-group">
                                <label for="whatUltimateGoal">What is the ultimate goal?</label>
                                <textarea ng-model="appGoal" id="whatUltimateGoal" required placeholder="e.g. Allow customers to access hospital scheduling  and visiting hours information"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="describeApp">Describe the users of this app</label>
                                <textarea ng-model="appUserDesc" id="describeApp" required placeholder="e.g. Hospital Administrators, Patients and their Families"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="field">
                            <div class="form-group">
                                <label>What are the main features of the application? </label>
                                <div ng-repeat="feature in appMainFeatures track by $index" class="input-row">
                                    <span class="num">{{$index+1}}.</span>
                                    <div class="input-wrapper">
                                        <input type="text" required ng-model="appMainFeatures[$index]" placeholder="{{appMainFeaturesPlaceholder[$index]}}"/>
                                        <a ng-if="appMainFeatures.length > 1" href="javascript:;" ng-click="removeTextBox($index,1)" class="text-hide icon-remove">REMOVE</a>
                                    </div>
                                </div>

                                <a href="javascript:;" ng-click="addTextBox(1)" class="text-hide icon-add">ADD</a>
                            </div>
                            <div class="form-group">
                                <label>Describe what the user does (user flow) <br />in the application </label>
                                <div ng-repeat="flow in appUserFlow track by $index" class="input-row">
                                    <span class="num">{{$index+1}}.</span>
                                    <div class="input-wrapper">
                                        <input type="text" required ng-model="appUserFlow[$index]" placeholder="{{appUserFlowPlaceholder[$index]}}"/>
                                        <a ng-if="appUserFlow.length > 1" href="javascript:;" ng-click="removeTextBox($index,2)"  class="text-hide icon-remove">REMOVE</a>
                                    </div>
                                </div>

                                <a href="javascript:;" ng-click="addTextBox(2)" class="text-hide icon-add">ADD</a>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

        </div>



    </div>

</div>