<div class="step">
    <div class="container">
        <div class="step-pager">
            <a href ui-sref="{{stateFlow}}.flow3" class="back">Back</a>

<span style="font-size:24px">Describe your application</span>

            <a class="next"  ng-class="{disabled: !appDescription}" href="javascript:;" ng-click="updateData('flow5')">Next</a>
        </div>
        <form name="appDescriptionForm" class="define-wrapper">

            <div class="description">
                <h4>Example Application Description</h4>
                <p>ACME Healthcare Group is looking to provide a better mobile experience for our customers.  We want our application to be intuitive and easy to use (requiring no training).  We want to provide our customers with relevant data based on their location (ER wait time at the closest hospital, a map of hospitals based on their geo-location, etc.).</p>
                <ol>
                    <li>
                        <span class="num">1.</span>
                        As a user, I need to see the ER wait time for the closest hospital based on my geo-location.  The wait time should be displayed at the bottom of the screen, should be color-coded (green for less than 15 minutes, yellow for 16-30 minutes, and red for more than 30 minutes wait). </li>
                    <li>
                        <span class="num">2.</span>
                        As a user, I should see scrolling ads at the top of the page (just under the menu bar).  </li>
                    <li>
                        <span class="num">3.</span>
                      As a user, I should be have a simple, clean menu with large icons on the main page to select the following:  Find a Physician, Our Locations, Medical Services, and Patient Tools
                  </li>
                </ol>
            </div>

            <div class="editor">

                <div text-angular required name="appDescription" ta-toolbar="[['bold','italics','underline','ul','ol','quote']]" ng-model="appDescription" class="ui-editor"
placeholder="e.g. ACME Healthcare Group is looking to provide a better mobile experience for our customers. We want our application to be intuitive and easy to use (requiring no training). We want to provide our customers with relevant data based on their location (ER wait time at the closest hospital, a map of hospitals based on their geo-location, etc.)"></div>

                <div class="upload" id="zone" ng-file-drop="onFileSelect($files)" multiple ng-file-drag-over-class="optional-css-class-name-or-function">
                    <p>To attach files, drag &amp; drop here or <a href="javascript:;" data-event="click" data-trigger-element="#uploadFile" data-trigger-event class="link-upload">select files from computer.</a>.. <br /><a href="/help/preparing-order-2/" class="link-upload-image">Attachment Guidelines</a></p>
                    <input type="file" id="uploadFile" ng-file-select="onFileSelect($files)" multiple>
                    <div class="files" ng-show="uploadedFiles">
                        <div class="file-item" ng-repeat="file in uploadedFiles">
                            <a href="javascript:;" class="text-hide icon-remove" ng-click="removeFile($index)">Remove</a>
                            <a class="file-info" mock-progress>
                                <i class="text-hide file-type {{file.fileType}}"></i>
                                <span class="file-name" style="margin-top: 5px;">{{file.name}}</span>
                            </a>
                            <div class="progress" ng-show="showProgress">
                                <div dummy-progress class="progress-bar" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>