<div class="step">
    <div class="container">
        <div class="step-pager">
            <a href ui-sref="{{stateFlow}}.flow4" class="back" style="width:140px; text-align:left">Back</a>

<span style="font-size:24px">Summary of your application</span>

<input type="button" style="float:right" class="button alt" 
value="Confirm Order" ng-click="confirmOrder()" ng-class="next"/>

        </div>
        <div class="">
<small>Below is a summary of your prototype application. Click 
<img src="/i/edit_icon_static.gif" height="14px" width="14px"/> 
to edit any information below.</small>
        </div>
        <div class="summary-wrapper">

            <div class="column left-column">
                <div class="well-summary">
                    <h3>APPLICATION TYPE</h3>
                    <span class="title">{{appType}}</span>
                </div>
                <div class="well-summary">
                    <h3>SUPPORTED DEVICES<a ui-sref="{{stateFlow}}.flow1" class="text-hide icon-edit">Edit</a></h3>
                    <span class="title {{deviceClass}}">
                      <span ng-repeat="device in Device">{{$last ? device :device+', '}}</span>
                    </span>
                    <h3>PLATFORM</h3>
                      <span class="title">
                        <span ng-repeat="oss in OSes">{{$last ? oss :oss+', '}}</span>
                      </span>
                </div>
                <div class="well-summary">
                    <h3>NUMBER OF STATIC PAGES<a ui-sref="{{stateFlow}}.flow2" class="text-hide icon-edit">Edit</a></h3>
                    <span class="static-num">{{noOfStaticPages}}</span>
                </div>
          </div>

            <div class="column main-column">
                <div class="well-summary">
                    <h3>APPLICATION DESCRIPTION<a ui-sref="{{stateFlow}}.flow4" class="text-hide icon-edit">Edit</a></h3>
                    <div class="description">
                        <div ng-bind-html="appDescription">
                        </div>


                        <div class="files" ng-show="uploadedFiles">
                            <a class="file-type type-{{file.fileType}}" ng-repeat="file in uploadedFiles">
                                {{file.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column right-column">
                <div class="well-summary">
                    <h3>APPLICATION SPECIFICATION<a ui-sref="{{stateFlow}}.flow3" class="text-hide icon-edit">Edit</a></h3>
                    <div class="specification">
                        <h4>Ultimate Goal</h4>
                        <p>{{appGoal}}</p>
                        <h4>Users of this app</h4>
                        <p>{{appUserDesc}}</p>
                        <h4>Main Features</h4>
                        <ol>
                            <li ng-repeat="feature in appMainFeatures track by $index">
                                <span class="num">{{$index+1}}.</span>
                                {{feature}}
                            </li>

                        </ol>
                        <h4>User Flows</h4>
                        <ol>
                            <li ng-repeat="flow in appUserFlow track by $index">
                                <span class="num">{{$index+1}}.</span>
                                {{flow}}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

      </div>



  </div>

</div>