/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/SourceSansPro-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body {
  color: #666666;
}
.floatFix {
  width: 100%;
  height: 0px;
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: left;
}
.textAlignCenter {
  text-align: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div {
  font-family: 'Source Sans Pro', arial;
}
/* Bordered title */
.whiteTitle {
  border-left: 10px #ffffff solid;
  color: #ffffff;
  font-family: Lato, arial;
  font-size: 30px;
  line-height: 36px;
  padding-left: 15px;
  font-weight: normal;
}
.greyTitle {
  border-left: 10px #00a7f1 solid;
  color: #666666;
  font-family: Lato, arial;
  font-size: 36px;
  line-height: 36px;
  padding-left: 15px;
  font-weight: normal;
}
/* Bordered title end */
/* paragraph */
.whitePara {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Source Sans Pro', arial;
}
/* paragraph end*/
/* button */
.blueButton {
  padding: 8px 16px;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  background-color: #00a7f1;
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 5px;
  text-transform: uppercase;
}
.blueButton:hover {
  background-color: #ffffff;
  border-color: #00a7f1;
  color: #00a7f1;
  cursor: pointer;
}
.blueButton a {
  border-bottom: 0px;
}
.blueButton:hover a {
  border-bottom: 0px;
}
.blueButton2 {
  padding: 8px 16px;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  background-color: #00a7f1;
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 5px;
  text-transform: uppercase;
}
.blueButton2:hover {
  background-color: #ffffff;
  border-color: #00a7f1;
  color: #00a7f1;
  cursor: pointer;
}
/* button end */
#header-main {
  border-bottom: 15px #00a7f1 solid;
}
#header {
  margin: 0px;
  width: 100%;
  max-width: 1300px;
}
#menu,
.slicknav_btn {
  display: none;
}
#header-wrapper {
  background-color: #ffffff;
  padding: 15px 0px 15px 0px;
  margin: 0px 0px 0px -20px;
}
#wrapper {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom:20px;
}
.wrapper {
  padding: 0px;
}
.fullWrapper {
  width: 100%;
}
#inner-wrapper,
.inner-wrapper {
  margin: 0px auto;
  padding: 0px 20px;
  max-width: 1300px;
}
#mainBannerWrapper {
  background: #00a7f1;
}
.logoTitle {
  float: left;
  margin-left: 10px;
  margin-top: -3px;
  font-family: Lato, arial;
  font-size: 28px;
  color: #666666;
}
#mainBannerWrapper .videoButton {
  float: left;
}
#mainBannerWrapper .videoButton a {
  float: left;
  padding: 8px 16px;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  background-color: #00a7f1;
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 5px;
  text-transform: uppercase;
}
#mainBannerWrapper .videoButton a:hover {
  background-color: #ffffff;
  border-color: #00a7f1;
  color: #00a7f1;
  cursor: pointer;
}
/* navigation */
#navigation {
  width: auto;
  margin-top: 5px;
}
#navigation ul.nav > li a {
  color: #666666;
  font-size: 18px;
  text-transform: none;
}
#navigation ul.nav > li:hover,
#navigation ul.nav > li.current-menu-item {
  border-color: #00a7f1;
}
#navigation ul.nav > li.current-menu-item a {
  color: #666666;
}
#navigation ul.nav > li.current-menu-item > ul.sub-menu > li a {
  color: white;
}
#navigation ul.nav > li {
  line-height: 24px;
}
#navigation ul.nav li.current-menu-item > a:after {
  font-family: Lato, arial;
}
#navigation ul.nav > li a {
  font-family: Lato, arial;
}
#navigation ul.nav {
  margin-top: 2px;
}
/* navigation end */
/* two column */
.twoColumnLayout .left {
  float: left;
  width: 60%;
}
.twoColumnLayout .right {
  float: left;
  width: 40%;
}
.twoColumnLayout2 .left {
  float: left;
  width: 45%;
}
.twoColumnLayout2 .right {
  float: left;
  width: 55%;
}
.twoColumnLayout2 .right img {
  margin-right: 30px;
}
#mainBannerPicture {
  float: left;
}
#mainBannerPicture img {
  margin-top: 25px;
  float: right;
}
/* two column end */
#mainDeviceWrapper {
  border-bottom: 1px #dde1e4 solid;
}
#mainBanner {
  padding-bottom: 50px;
}
#mainBanner .whiteTitle {
  margin-top: 77px;
}
#mainBanner .whitePara {
  width: 100%;
}
#mainBanner .blueButton {
  float: left;
  margin-right: 5px;
}
#ipadPicture img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.paraWithButton {
  margin-top: 145px;
  overflow: hidden;
  padding: 10px 0px;
}
.paraWithButton .greyTitle {
  float: left;
  margin-right: 10px;
}
.paraWithButton .blueButton2 {
  float: left;
  margin-top: -4px;
}
.paraWithButton .greyTitle {
  font-size: 30px;
}
#selectYourDevices {
  margin-top: 145px;
}
#editorPicture {
  padding-bottom: 40px;
}
#editorPicture img {
  float: right;
  margin-top: 30px;
}
#defineAppWrapper {
  border-bottom: 1px #dde1e4 solid;
}
#defineApp {
  min-height: 515px;
}
#defineYourApp {
  margin-top: 230px;
}
#pickYourOutputWrapper {
  border-bottom: 1px #dde1e4 solid;
  position: relative;
}
.yourOutputList {
  width: 551px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.yourOutputList .output {
  padding: 5px 10px;
  overflow: hidden;
}
#pickYourOutputWrapper .right {
  position: absolute;
  top: 0px;
  height: 100%;
  overflow-y: auto;
  right: 0px;
}
.yourOutputList .output img {
  float: left;
}
.yourOutputList .output h4 {
  float: right;
  width: 380px;
  font-family: 'Source Sans Pro', arial;
  color: #666666;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.yourOutputList .output p {
  float: right;
  width: 380px;
  font-family: 'Source Sans Pro', arial;
  color: #666666;
  font-size: 18px;
  line-height: 24px;
}
#pickYourOutput {
  margin-top: 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#haveQuestionWrapper {
  padding: 40px 0px;
}
#laptop2 {
  margin-top: 80px;
  margin-bottom: 50px;
}
#weHaveAnswer {
  margin-top: 250px;
  margin-left: 197px;
}
.mainContentWrapper {
  padding: 40px 40px;
}
.mainContentGeneric {
  padding-left: 60px;
}
#featuredWrapper .inner-wrapper,
#featuredWrapper #inner-wrapper {
  padding: 0px;
}
.mainContentTitle {
  margin-left: -5px;
  margin-bottom: 20px;
}
/* features */
#features,
#featuredSlider {
  padding-bottom: 30px;
}
.featuredItem {
  border-top: 1px #dde1e4 solid;
  padding: 30px 40px;
}
.featuredItem .inner-wrapper {
  padding: 0px;
}
.featuredItem .greyTitle {
  clear: both;
}
.featuredItem .imagePlaceholder {
  float: left;
  margin-top: 40px;
  width: 50%;
}
.featuredItem .featureContentInner {
  padding-right: 60px;
  font-size: 18px;
  line-height: 32px;
}
.featuredItem .featureContent {
  float: left;
  width: 50%;
}
/* features end */
/* contact */
.helpFormWrapper {
  border-top: 1px #dde1e4 solid;
}
.contactForm {
  width: 500px;
  min-height: 355px;
  margin-top: 20px;
  background-color: #00a7f1;
  float: right;
  padding: 25px;
  padding-bottom: 0px;
}
.contactForm > div {
  overflow: hidden;
}
.inputNameEmail {
  width: 240px;
}
.inputNameEmail label {
  color: #ffffff;
  margin-bottom: 3px;
}
.inputNameEmail input,
.inputNameEmail textarea {
  border-radius: 5px;
  background-color: #eaeef1;
}
#inputNameDiv {
  margin-right: 15px;
}
.inputNameEmail label {
  clear: both;
  display: block;
}
.inputNameEmail input {
  width: 100%;
}
#inputMessage {
  margin-top: 20px;
}
#inputMessage textarea {
  width: 496px;
  height: 140px;
}
.contactForm {
  margin-right: 30px;
}
.contactForm .submitDiv {
  margin-top: 0px;
}
.contactForm .submitDiv span {
  float: right;
  height: 44px;
  line-height: 44px;
  margin-right: 10px;
  color: #ffffff;
  margin-top: -25px;
}
.contactForm .submitDiv .wpcf7-submit {
  padding: 8px 16px;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  background-color: #00a7f1;
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 5px;
  text-transform: uppercase;
}
.contactForm .submitDiv .wpcf7-submit:hover {
  background-color: #ffffff;
  border-color: #00a7f1;
  color: #00a7f1;
  cursor: pointer;
}
.contactForm .submitDiv .wpcf7-submit {
  float: right;
}
.wpcf7-validation-errors {
  clear: both;
  float: right;
}
/* contact end */
.getStartedWrapper {
  overflow: hidden;
  width: 960px;
  margin: 0px auto;
}
.plan {
  width: 280px;
  float: left;
  color: #666666;
  margin-left: 50px;
}
.getStartedWrapper .plan:first-child {
  margin-left: 0px;
}
.plan p {
  font-size: 14px;
  color: #666a6f;
}
.plan .centered {
  text-align: center;
}
.plan .planTitle {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.plan .imagePlaceholder {
  height: 127px;
}
.design .planTitle {
  color: #00aeff;
}
.pilot .planTitle {
  color: #64c51c;
}
.production .planTitle {
  color: #ff9800;
}
.plan .centeredButton {
  height: 45px;
  margin-top: 10px;
}
.plan .cost {
  text-align: center;
  margin: 10px 0px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #666666;
}
.design .buttonPlan {
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  background-color: #00a6f3;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 0px 0px #0093ff;
  -moz-box-shadow: 0px 4px 0px 0px #0093ff;
  box-shadow: 0px 4px 0px 0px #0093ff;
  font-weight: bold;
}
.design .buttonPlan:hover {
  background-color: #0093ff;
}
.pilot .buttonPlan {
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  background-color: #81e239;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 0px 0px #6ab720;
  -moz-box-shadow: 0px 4px 0px 0px #6ab720;
  box-shadow: 0px 4px 0px 0px #6ab720;
  font-weight: bold;
}
.pilot .buttonPlan:hover {
  background-color: #6ab720;
}
.production .buttonPlan {
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-family: 'Source Sans Pro', arial;
  font-size: 14px;
  background-color: #ff9800;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 0px 0px #ff7a00;
  -moz-box-shadow: 0px 4px 0px 0px #ff7a00;
  box-shadow: 0px 4px 0px 0px #ff7a00;
  font-weight: bold;
}
.production .buttonPlan:hover {
  background-color: #ff7a00;
}
.haveQuestionStarted {
  border-top: thin #dde1e4 solid;
}
#mainFeaturesWrapper {
  background-color: #00a7f1;
  min-height: 325px;
  padding-top: 20px;
}
.mainFeatures {
  padding-top: 0px;
  overflow: hidden;
}
.mainFeatureItem {
  float: left;
  width: 25%;
  min-width: 250px;
  margin-top: 30px;
  text-align: center;
}
.mainFeatureItem span {
  display: block;
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
#mainFeaturesWrapper .textAlignCenter {
  margin-top: 50px;
}
#mainFeaturesWrapper .inner-wrapper {
  padding-bottom: 20px;
}
#footer-wrapper {
  background-color: #00a7f1;
  border: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer {
  padding: 0px 20px;
}
#footer .wrapper {
  height: auto;
  overflow: hidden;
  padding-top:20px;
  padding-bottom:20px;
}
.appirioCopyright {
  float: left;
  color: #ffffff;
  position: relative;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}
.socialFooter {
  float: right;
  color: #ffffff;
  position: relative;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}
.socialFooter span {
  float: left;
}
#fb {
  float: left;
  width: 9px;
  height: 18px;
  margin-left: 10px;
  margin-top: 4px;
  background: url("../images/facebook.png") no-repeat center center;
}
#twitter {
  float: left;
  width: 17px;
  height: 14px;
  margin-left: 10px;
  background: url("../images/twitter.png") no-repeat center center;
  margin-top: 5px;
}
.stayInformed {
  float: right;
  margin-right: 50px;
  overflow: hidden;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.stayInformed label {
  color: #fff;
  padding-top: 8px;
  margin-right: 10px;
  float: left;
}
.stayInformed input {
  border-radius: 5px;
  height: 40px;
  padding-top: 9px;
  background-color: #fff;
  color: #666666;
  width: 340px;
  float: left;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari 5+ ONLY */
  ::i-block-chrome,
  .stayInformed input {
    padding-top: 9px;
    line-height: 1;
  }
}
.stayInformed .blueButton {
  width: 65px;
  height: 38px;
  line-height: 38px;
  padding: 0px;
  text-align: center;
  vertical-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 1px;
}
#mobileNav {
  display: none;
}
.genericContent h1,
.genericContent h2,
.genericContent h3,
.genericContent h4,
.genericContent h5,
.genericContent h6 {
  color: #00a7f1;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.genericContent p {
  color: #666666;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0px;
}
#features {
  display: block;
}
#featuredSlider {
  display: none;
}
@media (max-width: 1060px) {
  .twoColumnLayout .left,
  .twoColumnLayout .right,
  .twoColumnLayout2 .left,
  .twoColumnLayout2 .right {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
  }
  #mainBanner .left {
    text-align: left;
  }
  #mainBanner {
    min-height: 0px;
  }
  #mainBannerPicture {
    display: none;
    min-height: 0px;
  }
  .paraWithButton {
    display: table;
    margin: 0px auto;
  }
  #selectYourDevices {
    margin: 0px auto;
    margin-top: 5px;
  }
  #defineYourApp {
    margin: 0px auto;
    margin-top: 30px;
  }
  #editorPicture img {
    float: none;
  }
  #laptop2 {
    background-position: center center;
    width: 100%;
  }
  #weHaveAnswer {
    margin: 0px auto;
    margin-top: 30px;
  }
  #haveQuestionTitle {
    margin: 0px auto;
    margin-top: 30px;
  }
  .yourOutputList {
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
  #pickYourOutputWrapper .right {
    position: relative;
  }
  #pickYourOutput {
    margin: 0px auto;
    margin-top: 30px;
  }
  .mainContentWrapper {
    padding: 20px;
  }
  .mainContentGeneric {
    padding: 0px;
  }
  .featuredItem {
    width: 100%;
    padding: 20px 0px;
  }
  .featuredItem .imagePlaceholder {
    width: 100%;
    text-align: center;
  }
  .featuredItem .featureContent {
    margin-top: 10px;
    width: 100%;
    padding: 0px 10px;
  }
  .featuredItem .greyTitle {
    width: 100%;
    padding: 0px 10px;
  }
  .featuredItem .featureContent * {
    padding: 0px 20px;
  }
  .featuredItem #inner-wrapper,
  .featuredItem .inner-wrapper {
    padding: 0px;
  }
  #haveQuestionWrapper .left,
  #haveQuestionWrapper .right {
    text-align: left;
  }
  #haveQuestionWrapper #laptop2 {
    text-align: center;
  }
  .helpFormWrapper #laptop2 {
    display: none;
  }
  #haveQuestionWrapper .right {
    width: 100%;
  }
  #haveQuestionWrapper .contactForm {
    float: none;
    margin: 0px auto;
  }
  .getStartedWrapper {
    width: 100%;
  }
  .getStartedWrapper .plan {
    clear: both;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 40px;
    border-bottom: 1px #dde1e4 solid;
    padding-bottom: 20px;
  }
  .getStartedWrapper .plan:last-child {
    border-bottom: none;
  }
  #mainFeaturesWrapper .textAlignCenter {
    margin-top: 20px;
  }
  .mainFeatureItem {
    width: 50%;
  }
  #features {
    display: none;
  }
  #featuredSlider {
    display: block;
  }
  #footer-wrapper {
    padding: 20px 10px;
  }
  .appirioCopyright {
    padding-top: 1px;
  }
  .stayInformed {
    padding-top: 5px;
  }
  .stayInformed input {
    width: auto;
  }
  #footer .wrapper {
    overflow: hidden;
    height: auto;
  }
  #footer .wrapper > div {
    float: left;
    clear: both;
    margin: 5px 0px;
  }
}
@media (max-width: 768px) {
  #wrapper {
    overflow: hidden;
    width: 100%;
  }
  #header .nav-toggle {
    top: 22px;
    right: 10px;
    display: block;
  }
  #navigation {
    width: 80%;
    margin-top: 0px;
    position: absolute;
    height: 20000px;
  }
  .menus {
    background: none repeat scroll 0 0 #62656a;
  }
  .mainFeatureItem {
    width: 50%;
  }
  #navigation ul.nav > li a {
    color: #fff;
  }
  .csstransforms3d.csstransitions .show-nav .mobileWrapper {
    transform: translate3d(80%, 0px, 0px);
    transform-origin: 50% 0 0;
    backface-visibility: hidden;
    left: 0 !important;
    transition: transform 200ms ease 0s;
    background-clip: padding-box;
    left: 80%;
  }
  .csstransforms3d.csstransitions .show-nav #inner-wrapper {
    transform: none;
  }
  #navigation ul.nav li.current-menu-item > a:after {
    content: "";
  }
  #navigation > .menus > h3 {
    display: none;
  }
  #navigation ul.nav li.current-menu-item > a {
    color: #fff;
  }
}
/*
	Created by: evilkyro1965
*/
@media (max-width: 600px) {
  .mainFeatureItem {
    width: 100%;
  }
  .paraWithButton .greyTitle {
    font-size: 18px;
  }
  .yourOutputList {
    width: auto;
  }
  .yourOutputList .output img,
  .yourOutputList .output p,
  .yourOutputList .output h4 {
    float: left;
    clear: both;
    width: auto;
  }
  #pickYourOutputWrapper .left {
    text-align: left;
  }
  #footer .wrapper .stayInformed {
    margin-top: 20px;
  }
  .contactForm {
    width: auto;
    padding-bottom: 10px;
  }
  #inputMessage textarea {
    width: 100%;
  }
  .contactForm .inputNameEmail {
    margin-top: 10px;
    width: 100%;
  }
  .contactForm .submitDiv span {
    margin-top: 5px;
    clear: both;
  }
}
