/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SourceSansPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SourceSansPro-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@bgDir : "../images";

@latoFont : Lato;
@sourceSansProFont : 'Source Sans Pro';
@white : #fff;
@greyColor1 : #666666;
@grayColor : #666666;
@grayColor1 : #666666;
@greyBorder : #dde1e4;
@blueColor1 : #00a7f1;
@blueColorPlan : #00aeff;
@greenColorPlan : #64c51c;
@orangeColorPlan : #ff9800;
@wrapperWidth : 100%;
@maxWidth : 1300px;
@leftWidth : 60%;
@rightWidth : 40%;

.vertical-align { 
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
	color:#666666;
}

.floatFix {
	width:100%;
	height:0px;
	clear:both;
}
.floatLeft { float:left; }
.floatRight { float:left; }
.textAlignCenter { text-align:center; }

p,h1,h2,h3,h4,h5,h6,a,span,div { font-family: @sourceSansProFont,arial; }

/* Bordered title */
.borderedTitle(@borderColor,@fontColor,@fontSize,@lineHeight) {
	border-left:10px @borderColor solid;
	color:@fontColor;
	font-family:@latoFont,arial;
	font-size:@fontSize;
	line-height:@lineHeight;
	padding-left:15px;
	font-weight:normal;
}
.whiteTitle { .borderedTitle(@white,@white,30px,36px); }
.greyTitle { .borderedTitle(@blueColor1,@greyColor1,36px,36px); }

/* Bordered title end */

/* paragraph */
.para(@fontColor,@fontSize,@lineHeight) {
	color:@fontColor;
	font-size:@fontSize;
	line-height:@lineHeight;
	font-family:@sourceSansProFont,arial;
}
.whitePara { .para(@white,18px,30px) }
/* paragraph end*/

/* button */
.button(@color:@blueColor1,@borderColor:@white,@fontColor:@white,@fontSize:14px,@borderRadius:5px) {
	padding:8px 16px;
	font-family:@sourceSansProFont,arial;
	font-size:@fontSize;
	background-color:@color;
	color:@fontColor;
	border:1px @borderColor solid;
	border-radius:@borderRadius;
	text-transform:uppercase;
	&:hover { background-color:@borderColor; border-color:@color; color:@color; cursor:pointer; }
}

.blueButton { .button(@blueColor1,@white,@white,14px,5px) }
.blueButton2 { .button(@blueColor1,@white,@white,14px,5px) }
/* button end */

#header-main {
	border-bottom:15px @blueColor1 solid;
}
#header {
	margin:0px;
	width:@wrapperWidth;
	max-width:@maxWidth;	
}
#menu,.slicknav_btn  {
	display:none;
}
#header-wrapper {
	background-color:@white;
	padding: 15px 0px 15px 0px;
	margin:0px;
}
#wrapper {
	width:100%;
}
.wrapper {
	padding:0px;
}
.fullWrapper {
	width:@wrapperWidth;
}
#inner-wrapper,.inner-wrapper {
	margin:0px auto;
	padding:0px 20px;
	max-width:@maxWidth;
}
#mainBannerWrapper {
	background:@blueColor1;
}
	.logoTitle {
		float:left;
		margin-left:10px;
		margin-top:-3px;
		font-family: @latoFont,arial;
		font-size:28px;
		color:@greyColor1;
	}
	#mainBannerWrapper .videoButton { float:left; }
	#mainBannerWrapper .videoButton a {
		float:left;
		.blueButton
	}
	
/* navigation */	
#navigation {
	width:auto;
	margin-top:5px;
}	
	#navigation ul.nav > li a{
		color:@greyColor1;
		font-size:18px;
		text-transform:none;
	}

	#navigation ul.nav > li:hover,#navigation ul.nav > li.current-menu-item {
		border-color:@blueColor1;
	}
	#navigation ul.nav > li.current-menu-item a {
		color:#666;
	}
	
	#navigation ul.nav > li {
		line-height:24px;
	}
	#navigation ul.nav li.current-menu-item > a:after {
		font-family:@latoFont,arial;
	}
	#navigation ul.nav > li a {
		font-family:@latoFont,arial;
	}
	#navigation ul.nav {
		margin-top:2px;
	}
/* navigation end */	

/* two column */	
	.twoColumnLayout .left{
		float:left;
		width:60%;
	}
	.twoColumnLayout .right{
		float:left;
		width:40%;
	}
	.twoColumnLayout2 .left{
		float:left;
		width:45%;
	}
	.twoColumnLayout2 .right{
		float:left;
		width:55%;
	}
	.twoColumnLayout2 .right img { margin-right:30px; }
	#mainBannerPicture { 
		float:left;
	}	
	#mainBannerPicture img { margin-top:25px; float:right; }	
/* two column end */	
	
#mainDeviceWrapper { border-bottom:1px @greyBorder solid; }
	#mainBanner { padding-bottom:50px; }
	#mainBanner .whiteTitle { margin-top:77px; }
	#mainBanner .whitePara { width:100%; }
	#mainBanner .blueButton { float:left; margin-right:5px; }
	
	#ipadPicture img { margin-top:30px; }
	
.paraWithButton { margin-top:145px; overflow:hidden; padding:10px 0px;}
	.paraWithButton .greyTitle { float:left; margin-right:10px; }
	.paraWithButton .blueButton2 { float:left; margin-top:-4px;}
	.paraWithButton .greyTitle { font-size:30px; }
	#selectYourDevices {  margin-top:145px; }
	
	#editorPicture {
		padding-bottom:40px;
	}
	#editorPicture img { float:right; margin-top:30px; }
	
#defineAppWrapper { border-bottom:1px @greyBorder solid; }	
	#defineApp { min-height: 515px; }
	#defineYourApp { margin-top: 230px; }

#pickYourOutputWrapper { border-bottom:1px @greyBorder solid; position:relative; }	
	
.yourOutputList {
	width:551px;
	margin-top:20px;
	margin-bottom:20px;
}
	.yourOutputList .output {
		padding:5px 10px;
		overflow:hidden;
	}
	#pickYourOutputWrapper .right{
		position:absolute;
    top:0px;
    height:100%;
    overflow-y: auto;
		right:0px;
	}
		.yourOutputList .output img {
			float:left;
		}
		.yourOutputList .output h4 {
			float:right;
			width:380px;
			font-family:@sourceSansProFont,arial;
			color:@greyColor1;
			font-size:24px;
			font-weight:normal;
			margin-top:10px;
			margin-bottom:0px;
			text-transform:uppercase;
		}
		.yourOutputList .output p {
			float:right;
			width:380px;
			font-family:@sourceSansProFont,arial;
			color:@greyColor1;
			font-size:18px;
			line-height:24px;
		}
#pickYourOutput {
	margin-top:0px;
	.vertical-align
}

#haveQuestionWrapper {
	padding:40px 0px;
}
	#laptop2 {
		margin-top:80px;
		margin-bottom:50px; 
	}
	#weHaveAnswer { margin-top: 250px; margin-left:197px; }
	
.mainContentWrapper {
	padding:40px 40px 
}
.mainContentGeneric {
	padding-left:60px;
}
#featuredWrapper .inner-wrapper,#featuredWrapper #inner-wrapper {
	padding:0px;
}
.mainContentTitle {
	margin-left:-5px;
	margin-bottom:20px;
}
/* features */
#features,#featuredSlider {
	padding-bottom:30px;
}
	.featuredItem {
		border-top:1px @greyBorder solid;
		padding:30px 40px;
	}
	.featuredItem .inner-wrapper {
		padding:0px;
	}
	.featuredItem .greyTitle{
		clear:both;
	}
	.featuredItem .imagePlaceholder {
		float:left;
		margin-top:40px;
		width:50%;
	}
	.featuredItem .featureContentInner {
		padding-right:60px;
		font-size:18px;
		line-height:32px;
	}
	.featuredItem .featureContent {
		float:left;
		width:50%;
	}
/* features end */	
	
/* contact */	
.helpFormWrapper {
	border-top:1px @greyBorder solid;
}	
	.contactForm {
		width:500px;
		min-height:355px;
		margin-top:20px;
		background-color:@blueColor1;
		float:right;
		padding:25px;
		padding-bottom:0px;
	}
	.contactForm > div { overflow:hidden; }
	.inputNameEmail {
		width:240px;
	}	
	.inputNameEmail label {
		color:@white;
		margin-bottom:3px;
	}
	.inputNameEmail input,.inputNameEmail textarea  {
		border-radius:5px;
		background-color:#eaeef1;
	}
	#inputNameDiv {
		margin-right:15px;
	}
	.inputNameEmail label{
		clear:both;
		display:block;
	}	
	.inputNameEmail input {
		width:100%;
	}
	#inputMessage {
		margin-top:20px;
	}
	#inputMessage textarea {
		width:496px; height:140px;
	}
.contactForm {
	margin-right:30px;
}	
	.contactForm .submitDiv {
		margin-top:0px;
	}
	.contactForm .submitDiv span{
		float:right;
		height:44px;
		line-height:44px;
		margin-right:10px;
		color:@white;
		margin-top:-25px;
	}
	.contactForm .submitDiv .wpcf7-submit {
		.button(@blueColor1,@white,@white,14px,5px)
	}
	.contactForm .submitDiv .wpcf7-submit {
		float:right;
	}
	.wpcf7-validation-errors {
		clear:both;
		float:right;
	}
/* contact end */	
	
.getStartedWrapper {
	overflow:hidden;
	width:960px;
	margin:0px auto;
}
.plan {
	width:280px; 
	float:left;
	color:@greyColor1;
	margin-left:50px;
}
.getStartedWrapper .plan:first-child {
	margin-left:0px;
}	

.plan p {
	font-size:14px;
	color:#666a6f;
}
.plan .centered {
	text-align:center;
}
.plan .planTitle {
	font-weight:normal;
	font-size:24px;
	margin-bottom:5px;
	margin-top:20px;
}
.plan .imagePlaceholder { height:127px; }
.design .planTitle { color:@blueColorPlan; }
.pilot .planTitle { color:#64c51c; }
.production .planTitle { color:#ff9800; }
.plan .centeredButton {
	height:45px;
	margin-top:10px;
}
.plan .cost {
	text-align:center;
	margin:10px 0px;
	margin-bottom:30px;
	font-weight:bold;
	color:@grayColor;
}
.planButton(@color:@blueColor1,@r:0,@g:0,@b:0,@fontColor:@white,@fontSize:14px,@borderRadius:5px) {
	padding:0px 20px;
	height:32px;
	line-height:32px;
	display:inline-block;
	font-family:@sourceSansProFont,arial;
	font-size:@fontSize;
	background-color:@color;
	color:@fontColor;
	border-radius:@borderRadius;
	text-transform:uppercase;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(@r, @g, @b, 1);
	-moz-box-shadow:    0px 4px 0px 0px rgba(@r, @g, @b, 1);
	box-shadow:         0px 4px 0px 0px rgba(@r, @g, @b, 1);
	font-weight:bold;
	&:hover { 
		background-color:rgb(@r, @g, @b);
	}
}
.design .buttonPlan { .planButton(#00a6f3,0,147,255,@white,14px,5px) }
.pilot .buttonPlan { .planButton(#81e239,106,183,32,@white,14px,5px) }
.production .buttonPlan { .planButton(#ff9800,255,122,0,@white,14px,5px) }

.haveQuestionStarted { border-top:thin @greyBorder solid;}

#mainFeaturesWrapper {
	background-color:@blueColor1;
	min-height:325px;
	padding-top:20px;
}
.mainFeatures {
	padding-top:0px;
	overflow:hidden;
}
.mainFeatureItem {
	float:left;
	width:25%;
	min-width:250px;
	margin-top:30px;
	text-align:center;
}
.mainFeatureItem span{
	display:block;
	padding-top:30px;
	text-align:center;
	color:@white;
	text-transform:uppercase;
}
#mainFeaturesWrapper .textAlignCenter {
	margin-top:50px;
}
#mainFeaturesWrapper .inner-wrapper {
	padding-bottom:20px;
}

#footer-wrapper {
	background-color:@blueColor1;
	border:none;
}
#footer { padding:0px 20px; }
#footer .wrapper { height:94px; overflow:hidden; } 
.appririoCopyright { float:left; color:@white; .vertical-align }
.socialFooter {
	float:right;
	color:@white;
	.vertical-align 
}
.socialFooter span { float:left; }
#fb {
	float:left; width:9px; height:18px; margin-left:10px; margin-top:4px;
	background:url("@{bgDir}/facebook.png") no-repeat center center;
}
#twitter {
	float:left; width:17px; height:14px; margin-left:10px; 
	background:url("@{bgDir}/twitter.png") no-repeat center center;
	margin-top:5px;
}

.stayInformed {
	float:right;
	margin-right:50px;
	overflow:hidden;
	.vertical-align
}
.stayInformed label {
	color:#fff;
	padding-top:8px;
	margin-right:10px;
	float:left;
}
.stayInformed input{
	border-radius:5px;
	height:40px;
	padding-top:9px;
	background-color:#fff;
	color:@grayColor1;
	width:340px;
	float:left;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
 
    /* Safari 5+ ONLY */
    ::i-block-chrome, .stayInformed input {
			padding-top:9px;
			line-height: 1;
    }
		
}

.stayInformed .blueButton {
	width:65px; 
	height:38px; line-height:38px;
	padding:0px;
	text-align:center;
	vertical-align:center;
	float:left;
	margin-left:10px;
	margin-right:1px;
}


#mobileNav {
	display:none;
}

@import "generic_content.less";
@import "mobile.less";


