.genericContent h1,.genericContent h2,.genericContent h3,.genericContent h4,.genericContent h5,.genericContent h6 {
	color:@blueColor1;
	font-size:24px;
	margin-bottom:0px;
	margin-top:0px;
}
.genericContent p {
	color:@greyColor1;
	font-size:18px;
	line-height:32px; 
	margin-bottom:0px;
}