#features { display:block; }
#featuredSlider { display:none; }

@media (max-width: 1060px) {	
	.twoColumnLayout .left,.twoColumnLayout .right,.twoColumnLayout2 .left,.twoColumnLayout2 .right{
		float:left;
		clear:both;
		width:100%;
		text-align:center; 
	}
	#mainBanner .left {
		text-align:left;
	}
	#mainBanner { min-height: 0px; }
	#mainBannerPicture { display:none; min-height:0px; }
	
	.paraWithButton { 
		display: table;
		margin:0px auto;
	}
	#selectYourDevices { margin:0px auto; margin-top:5px; }
	#defineYourApp { margin:0px auto; margin-top:30px; }
	#editorPicture img { float:none; }
	#laptop2 { background-position:center center; width:100%; }
	#weHaveAnswer { margin:0px auto; margin-top:30px;}
	#haveQuestionTitle {
		margin:0px auto; margin-top:30px;
	}
	.yourOutputList {
		clear:both;
		margin-left:auto;
		margin-right:auto;
	}
	#pickYourOutputWrapper .right{
		position:relative;
	}
	#pickYourOutput { margin:0px auto; margin-top:30px;}
	
	.mainContentWrapper {
		padding:20px;
	}
	.mainContentGeneric {
		padding:0px;
	}
	.featuredItem {
		width:100%;
		padding:20px 0px;
	}
	.featuredItem .imagePlaceholder {
		width:100%;
		text-align:center;
	}
	.featuredItem .featureContent {
		margin-top:10px;
		width:100%;
		padding:0px 10px;
	}
	.featuredItem .greyTitle {
		width:100%;
		padding:0px 10px;
	}
	.featuredItem .featureContent * {
		padding:0px 20px;
	}
	
	.featuredItem #inner-wrapper, .featuredItem .inner-wrapper {
		padding:0px;
	}
	
	#haveQuestionWrapper .left,#haveQuestionWrapper .right {
		text-align:left;
	}	
	#haveQuestionWrapper #laptop2 { text-align:center; }
	.helpFormWrapper #laptop2 { display:none; }
	#haveQuestionWrapper .right {
		width:100%;
	}
	#haveQuestionWrapper .contactForm {
		float:none;
		margin:0px auto;
	}
	.getStartedWrapper {
		width:100%;
	}
	.getStartedWrapper .plan {
		clear:both;
		width:100%;
		margin-left:0px;
		margin-bottom:40px;
		border-bottom:1px @greyBorder solid;
		padding-bottom:20px;
	}
	.getStartedWrapper .plan:last-child {
		border-bottom:none;
	}	
	#mainFeaturesWrapper .textAlignCenter {
		margin-top:20px;
	}
	.mainFeatureItem {
		width:50%;
	}
	#features { display:none; }
	#featuredSlider { display:block; }
	#footer-wrapper { padding:20px 10px; }
	.appririoCopyright { padding-top: 1px; }
	.stayInformed { padding-top:5px; }
	.stayInformed input { width: auto; }
	
	#footer .wrapper {
		overflow:hidden;
		height:auto;
	}
	#footer .wrapper > div{
		float:left;
		clear:both;
		margin:5px 0px;
	}	
}

@media (max-width: 768px) {	
	
	#wrapper {
		overflow:hidden;
		width:100%;
	}
	#header .nav-toggle {
		top:22px;
		right:10px;
		display:block;
	}
	
	#navigation {
		width:80%;
		margin-top:0px;
		position:absolute;
		height:20000px;
	}
	.menus {
		background: none repeat scroll 0 0 #62656a;
	}
	.mainFeatureItem {
		width:50%;
	}
	
	#navigation ul.nav > li a {
		color:#fff;
	}	
	.csstransforms3d.csstransitions .show-nav .mobileWrapper
		{
		transform: translate3d(80%, 0px, 0px);
		transform-origin: 50% 0 0;
		backface-visibility: hidden;
		left: 0 !important;
		transition: transform 200ms ease 0s;
		background-clip: padding-box;
		left: 80%;
	}
	.csstransforms3d.csstransitions .show-nav #inner-wrapper {
		transform: none;
	}
	#navigation ul.nav li.current-menu-item > a:after {
		content: "";
	}
	#navigation > .menus > h3 { display:none; }
	#navigation ul.nav li.current-menu-item > a{
		color:#fff;
	}
	
}

/*
	Created by: evilkyro1965
*/
@media (max-width: 600px) {	
	
	.mainFeatureItem {
		width:100%;
	}
	
	.paraWithButton .greyTitle {
		font-size:18px;
	}
	
	.yourOutputList {
		width:auto;
	}
	
	.yourOutputList .output img,.yourOutputList .output p,.yourOutputList .output h4 {
		float:left;
		clear:both;
		width:auto;
		
	}
	#pickYourOutputWrapper .left { text-align: left; }
	#footer .wrapper .stayInformed {
		margin-top:20px;
	}
	.contactForm {
		width:auto;
		padding-bottom:10px;
	}
	#inputMessage textarea {
		width:100%;
	}
	.contactForm .inputNameEmail {
		margin-top:10px;
		width:100%;
	}
	.contactForm .submitDiv span {
		margin-top:5px;
		clear:both;
	}
}
