<div class="axphead">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8">
                <div style="text-align:center; padding-top:10px">
                  <h3>{{appType}}</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="progress-wrapper">
                    <progressbar max="maxStep" value="currentStep">
                        {{currentStep+'/'+maxStep}}
                        <span class="sr-only">{{currentStep / maxStep}}% Complete</span>
                    </progressbar>
                </div>
            </div>
        </div>
    </div>

</div>

<div ui-view>

</div>